.w {
  &-10 {
    width: 10%;
  }
  &-30 {
    width: 30%;
  }
  &-40 {
    width: 40%;
  }
  &-45 {
    width: 45%;
  }
  &-50 {
    width: 50%;
  }
  &-55 {
    width: 55%;
  }
  &-60 {
    width: 60%;
  }
  &-65 {
    width: 65%;
  }
  &-70 {
    width: 70%;
  }
}

.w-f {
  &-10 {
    width: 10px;
  }
  &-30 {
    width: 30px;
  }
  &-40 {
    width: 40px;
  }
  &-45 {
    width: 45px;
  }
  &-50 {
    width: 50px;
  }
  &-55 {
    width: 55px;
  }
  &-60 {
    width: 60px;
  }
  &-65 {
    width: 65px;
  }
  &-70 {
    width: 70px;
  }
}

.w-max {
  &-xxs {
    max-width: 300px;
  }
  &-xs {
    max-width: 576px;
  }
  &-sm {
    max-width: 768px;
  }
  &-md {
    max-width: 992px;
  }
  &-lg {
    max-width: 1200px;
  }
}

.h {
  &-10 {
    height: 10px;
  }
  &-20 {
    height: 20px;
  }
  &-30 {
    height: 30px;
  }
  &-40 {
    height: 40px;
  }
  &-50 {
    height: 50px;
  }
  &-60 {
    height: 60px;
  }
  &-70 {
    height: 70px;
  }
  &-80 {
    height: 80px;
  }
}
