.skeleton {
  background: var(--q-color-light-smooth);
  overflow: hidden;
  position: relative;
  &:after {
    animation: skeleton--wave 1.5s linear 0.5s infinite;
    -webkit-animation: skeleton--wave 1.5s linear 0.5s infinite;
    background: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,0.5),hsla(0,0%,100%,0));
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
}

@-webkit-keyframes skeleton--wave {
  0% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes skeleton--wave {
  0% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
